<p>Hi {{name}},</p>

<p>You recently requested to reset your Reelio account password.</p>

<p>Click the link below to set a new password:</p>

<p><a href='{{resetUrl}}' target='_blank'>Reset My Password</a></p>

<p>This link will expire in 15 minutes.</p>

<p>If you didn’t request this, you can safely ignore this email.</p>

<p>— The Reelio Team</p>